# Python кэш и артефакты
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы окружения
.env

# Файл конфигурации (содержит секреты)
config.py

# Локальный файл с данными (пользователи могут его сильно менять)
data/characters.json

# IDE-специфичные файлы
.idea/
.vscode/